<div class="container">
  <div class="row jumbotron form-group">
    <label>Recherche: <input ng-model="$ctrl.searchText"></label>
  </div>
  <div class="row">

    <div ng-init="$ctrl.movies"></div>
    <ul>
      <li class="col-xs-12 col-sm-4 col-md-3" style="height:350px; " ng-repeat="el in $ctrl.maListe |filter:$ctrl.searchText track by $index ">
          <a ui-sref="app.movie({movieId:el.id}) ">
        <poster movie="el "></poster></a>
          <button ng-click="$ctrl.supprimerdeListe(el) " class="btn btn-icon ">
            <span class="glyphicon glyphicon-trash " ng-class="{active: item.favorite} "></span>
          </button>
        </li>
      </ul>
  </div>
</div>