<div class="container">
  <div class="row jumbotron form-group">
    <div>
      <!-- A completer -->
      <label>Recherche: <input ng-model="$ctrl.searchText"></label>¨
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div ng-init="$ctrl.movies"></div>
      <ul>
        <li id="searchTextResult" ng-repeat="el in $ctrl.movies |filter:$ctrl.searchText track by $index ">
          <a ui-sref="app.movie({movieId:el.id})"> {{el.title}}
        <poster movie="el"></poster></a>
          <button ng-click="$ctrl.ajouterAListe(el)" class="btn btn-icon">
            <span class="glyphicon glyphicon-heart" ng-class="{active: item.favorite}"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>