<div class="container">
  <div class="row jumbotron form-group">
    <div>
      <label>Recherche: <input ng-model="$ctrl.searchText"></label>
    </div>
  </div>

  <div class="row">
    <div ng-init="$ctrl.movies"></div>
    <ul>
      <li class="col-xs-12 col-sm-4 col-md-3" style="height:350px;" ng-repeat="el in $ctrl.movies |filter:$ctrl.searchText track by $index ">
        <a ui-sref="app.movie({movieId:el.id})"> {{el.title}}
            <poster movie="el"></poster>
          </a>
        <button ng-hide="$ctrl.movieDansListe(el.id)" ng-click="$ctrl.ajouterAListe(el)" class="btn btn-icon">
            <span class="glyphicon glyphicon-heart" ng-class="{active: item.favorite}"></span>
          </button>
      </li>
    </ul>
    <br />
    <br />
    <h2> Autres films récemment sortis </h2>
    <br />
        <slick class="col-xs-12" dots="true" infinite="false" speed="300" slides-to-show="5" touch-move="false" slides-to-scroll="1">
      <div ng-repeat="el in $ctrl.movies ">
        <a ui-sref="app.movie({movieId:el.id})">
          <poster movie="el"></poster>
        </a>
      </div>
    </slick>
  </div>
</div>