body {
  background-color: lightgrey;
}

.btn-icon{
  margin-left:143px;
  margin-top:-60px;
}

.btn-icon:hover{
  box-shadow:none;
  border-color: transparent;
}

ul{
  list-style: none;
}

.btn-icon:focus{
  box-shadow:none;
  border-color: transparent;
}

.glyphicon-heart {
  color: red;
  background-position: right;
}